* {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 55px;
  margin-bottom: 100px;
}

h2 {
  text-decoration: underline;
}

a {
  color: red;
  font-size: 20px; 
}

a:hover {
  color: blue;
}

.recipe-links {
  text-align: center;
}

.recipe-links li {
  display: inline;
}

.home-recipe-container-1,.home-recipe-container-2,
.home-recipe-container-3 {
  display: inline-block; 
  width: 200px;
  height: 200px;
}

.home-recipe-container-1,.home-recipe-container-2 {
  margin-right: 90px;
}

.home-image {
  display: inline;
  margin-top: 10px; 
  border-radius: 5px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.recipe-link {
  color: red;
  font-size: 30px;
  text-decoration: none;
}

.recipe-link:hover {
  color: blue;
}

.middle-nav-link {
  margin-left: 10px;
  margin-right: 10px;
}

.recipes-background {
  background-color: rgb(184, 231, 247);
}